<section class="text-center mt-5">
  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addParticipationModal">
    <i class="fas fa-user-plus me-2"></i> Agregar un Jugador
  </button>

  <button type="button" class="btn btn-warning" id="open-multi-participations" data-bs-target="#addParticipationsModal">
    <i class="fas fa-user-plus me-1"></i> Agregar varios Jugadores
  </button>
</section>
