<section class="text-center my-5">
  <button type="button" class="btn btn-primary btn-lg shadow" data-bs-toggle="modal" data-bs-target="#addParticipationModal">
    <i class="fas fa-user-plus me-2"></i> Agregar Jugador
  </button>
</section>
