<% if index == 0 %>
  <span class="badge bg-gold text-dark p-2"><%= index + 1 %></span>
<% elsif index == 1 %>
  <span class="badge bg-silver text-dark p-2"><%= index + 1 %></span>
<% elsif index == 2 %>
  <span class="badge bg-bronze text-dark p-2"><%= index + 1 %></span>
<% else %>
  <span class="badge bg-secondary p-2"><%= index + 1 %></span>
<% end %>